table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #000080;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: #000080;
}

tr:hover {background-color:#f5f5f5;}